.scaleContainer {
  width: 100%;
  padding: 4% 4%;
  font-size: 16px;
}

.inputs {
  display: flex;
  width: 100%;
}

.scaleField {
  width: 100%;
  display: flex;
  align-items: center;
}

.maxRangeLabel {
  float: right;
  margin-left: auto;
}

.minLabel {
  display: inline;
  float: left;
  margin-right: auto;
}

.maxLabel {
  display: inline;
  float: right;
  margin-left: auto;
}

/* .scaleField input {
  width: 100%;
  height: 100%;
  margin-left: 12px;
  border: 1px solid #999;
  outline: none;
  border-radius: 5px;
  text-align: center;
  font-size: 19px;
} */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.slider {
  height: 5px;
  background: #228bd6;
  border-radius: 5px;
  position: relative;
  margin-top: 5%;
  width: 100%;
  /* z-index: -50; */
}

.rangeInput {
  position: relative;
  margin-bottom: 2%;
  /* z-index: -1; */
}

.rangeInput input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  -webkit-appearance: none;
  background: none;
  pointer-events: none;
  /* z-index: 10; */
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  background: #228bd6;
  -webkit-appearance: none;
  border-radius: 50%;
  pointer-events: auto;
  z-index: 11;
}
input[type="range"]::-webkit-slider-thumb:hover {
  cursor: pointer;
}

input[type="range"]::-moz-slider-thumb {
  height: 17px;
  width: 17px;
  background: #228bd6;
  -moz-appearance: none;
  border-radius: 50%;
  pointer-events: auto;
  border: none;
  z-index: 11;
}
input[type="range"]::-moz-slider-thumb:hover {
  cursor: pointer;
}
