.findOthersContainer {
  width: 100%;
  height: 100%;
  padding: 0% 2%;
  display: grid;
  grid-template-columns: 3fr 12fr;
  margin-top: 1%;
}

.filterNavbarContainer {
  width: 100%;
  height: fit-content;
  display: none;
}

.filterMobile {
  display: none;
}

.peopleContainer {
  width: 100%;
  height: 100%;
}

.peopleContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.loadMoreButton:hover {
  background-color: #228bd6;
  cursor: pointer;
}

.endText {
  text-align: center;
}

.loadMoreButton {
  width: 50%;
  background-color: #2b96e2;
  padding: 1%;
  font-size: 18px;
  color: white;
  border: none;
  margin: 1% auto;
}

.profileLink {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1400px) {
  .peopleContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1200px) {
  .findOthersContainer {
    grid-template-columns: 4fr 12fr;
  }
}
@media screen and (max-width: 1000px) {
  .peopleContainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  .filterNavbarContainer {
    display: block;
  }
  .filterDesktop {
    display: none;
  }
  .findOthersContainer {
    grid-template-columns: 1fr;
  }
  .filterMobile {
    width: 100%;
    padding-bottom: 2%;
    border-bottom: 1px solid black;
  }

  .displayFilter {
    display: block;
  }
  .hideFilter {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .peopleContainer {
    grid-template-columns: 1fr;
  }
}
