.hackathon {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
  margin: 0.5% auto;
  border: 1px solid #228bd6;
  border-radius: 25px;
  padding: 1%;
}
.hackImage {
  width: 100%;
  max-height: 100%;
}

.hackathonContent {
  margin-left: 2%;
}

.title {
  font-size: 24px;
  font-weight: 500;
}

.infoRow {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
  margin-top: 3.5%;
}

.amount {
  margin-right: 10%;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
}

.daysLeft {
  font-size: 12px;
  padding: 3px 25px;
  width: 50%;
  background-color: #228bd6;
  border-radius: 15px;
  position: relative;
  margin-right: 10%;
  color: white;
}

.dot {
  content: "";
  background-color: white;
  position: absolute;
  left: 0.6rem;
  height: 5px;
  width: 5px;
  border-radius: 5px;
  top: 50%;
  margin-top: -2px;
}

.hackathonInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hackathonInfoRow {
  display: flex;
  align-items: start;
  gap: 5px;
  width: 100%;
  margin-top: 3.5%;
}

.amount {
  width: 25%;
}

.company,
.date,
.tag {
  font-size: 14px;
  margin-left: 2%;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.tag {
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: #9fcdee;
  color: #228bd6;
  height: fit-content;
}

.globe {
  margin-right: 5%;
}
.textStatus {
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .hackathon {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .hackathon {
    padding: 3%;
  }
}
@media screen and (max-width: 850px) {
  .hackathon {
    width: 90%;
    padding: 2%;
  }
}
@media screen and (max-width: 800px) {
  .hackathon {
    width: 100%;
    margin: 4% 0%;
  }
}
@media screen and (max-width: 650px) {
  .hackathon {
    padding: 1%;
    grid-template-columns: 1fr;
  }
  .hackImage {
    max-width: 40%;
    margin: 0 auto;
  }
  .tag {
    height: 100%;
  }
  .tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hackathonContent {
    text-align: center;
  }
  .hackathonInfoRow {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .infoRow {
    justify-content: center;
    align-items: center;
  }
  .daysLeft {
    width: 50%;
  }
  .hackathonTags {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hackathonImage {
    display: flex;
  }
  .status {
    width: 40%;
  }
  .globe {
    margin-right: 0%;
  }
  .amount {
    width: 100%;
  }
  .participants {
    width: 100%;
  }
  .tagsContainer {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
