.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cropperButtons {
  text-align: center;
}

.cropperButton {
  margin: 0% 1%;
  font-size: 22px;
  padding: 1%;
}

.fileSelector {
  display: none;
}

.imageCropper {
  width: 50%;
  height: 50%;
  background-color: black;
  position: absolute;
  bottom: 40%;
}

.nonCropImage {
  position: absolute;
  width: 50%;
  bottom: 28%;
  background-color: white;
  padding: 1%;
}

.imageCropperSelectorsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.range {
  width: 80%;
  margin-bottom: 1%;
}

.maxSize {
  color: red;
  text-align: center;
}

@media screen and (max-width: 1500px) {
  .imageCropper {
    width: 55%;
  }
  .nonCropImage {
    width: 55%;
  }
}

@media screen and (max-width: 1000px) {
  .imageCropper {
    width: 70%;
  }
  .nonCropImage {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .imageCropper {
    height: 40%;
  }
}
