.profileContainer {
  width: 100%;
  height: 100%;
  padding: 2% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.littleIntroContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 4%;
}

.bigIntro {
  border: 1px solid black;
  width: 100%;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.descriptionContainer {
  padding: 0% 20%;
  line-height: 20px;
}

.editContainer {
  position: absolute;
  top: 5%;
  left: 5%;
}
.editContainer:hover {
  cursor: pointer;
}

.editButton:hover {
  color: #1f7fc4;
}

.nameContainer {
  margin: 1% 0%;
  font-size: 32px;
  font-weight: bold;
}

.imageContainer {
  position: relative;
}

.profileImage {
  border-radius: 100%;
  width: 300px;
  height: 300px;
  color: rgba(30, 30, 30, 0.2);
}

.topLittleContainer {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto(6, 1fr);
  padding: 2%;
  margin-bottom: 2%;
}

.firstRow {
  padding-top: 0px;
}

.row {
  border-bottom: 1px solid rgb(229, 229, 229);
  padding: 2% 0%;
}

.editButton {
  color: #228bd6;
  font-size: 36px;
}

.bottomLittleContainer {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  display: grid;
}

.personalWebsite {
  color: black;
  text-decoration: none;
}

.personalWebsite:hover {
  text-decoration: underline;
}

.front {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 2%;
}

.twitter {
  color: #55acee;
}

.insta {
  color: #d93d56;
}

.socialRow {
  display: grid;
  align-items: center;
  border-bottom: 1px solid rgb(229, 229, 229);
  padding: 2%;
  grid-template-columns: 1fr 1fr;
}

.socialIcon {
  font-size: 24px;
}

@media screen and (max-width: 1200px) {
  .bigIntro {
    padding: 5%;
  }
}

@media screen and (max-width: 700px) {
  .profileContainer {
    grid-template-columns: 1fr;
    padding: 5%;
  }
  .littleIntroContainer {
    margin-left: 0px;
  }
  .topLittleContainer {
    margin-top: 2%;
  }
  .descriptionContainer {
    padding: 0% 10%;
  }
}
@media screen and (max-width: 600px) {
  .descriptionContainer {
    padding: 0% 5%;
  }
}
