.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.navLinks {
  list-style: none;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
}

.navItem {
  text-decoration: none;
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

.logo {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
}

.logoText {
  font-size: 18px;
}

.signupContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupButtonContainer {
  margin: 0px 15px;
}

.signupButton {
  background-color: transparent;
  border: 2px solid #228bd6;
  border-radius: 20px;
  padding: 5px 15px;
  width: 100%;
}

.signupText {
  color: black;
  text-decoration: none;
}

.burgerContainer {
  display: none;
}

@media screen and (max-width: 1300px) {
  .navLinks {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .navLinks {
    width: 100%;
  }

  .logo {
    width: 80%;
  }
  .signupContainer {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .logo {
    width: 70%;
  }
  .signupContainer {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .navbar {
    justify-content: start;
    align-items: center;
  }
  .logo {
    text-align: start;
  }
  .logoText {
    padding-top: 5px;
    padding-left: 5%;
  }
  .navLinks {
    display: none;
  }
  .signupContainer {
    display: none;
  }
}
