.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 2%;
  border-bottom: 1px solid rgb(229, 229, 229);
  font-size: 14px;
  z-index: 100;
}

.navLinks {
  list-style: none;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
}

.navItem {
  text-decoration: none;
  text-align: center;
}

.red {
  color: #f74a6a;
}

.yellow {
  color: #ffe51f;
}

.link {
  text-decoration: none;
  color: black;
  transition: ease-in 0.15s;
}

.link:hover {
  color: #228bd6;
}

.logo {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
}

.logoText {
  font-size: 1.5rem;
}

.signupContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupButtonContainer {
  margin: 0px 15px;
}

.signupButton {
  background-color: transparent;
  border: 2px solid #228bd6;
  border-radius: 20px;
  padding: 5px 15px;
  width: 100%;
  box-shadow: inset 0 0 0 0 #228bd6;
  transition: box-shadow ease-out 0.4s;
  outline: none;
  color: black;
}

.signupText {
  color: inherit;
  text-decoration: none;
}

.burgerContainer {
  display: none;
}
.burgerContainer:hover {
  cursor: pointer;
}

.signupButton:hover {
  cursor: pointer;
  box-shadow: inset 80px 0 0 0 #228bd6;
  color: white;
}

.mobileNavLinks {
  display: none;
}

@media screen and (max-width: 1300px) {
  .navLinks {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .navLinks {
    width: 100%;
  }

  .logo {
    width: 80%;
  }
  .signupContainer {
    width: 80%;
  }
  .navbar {
    padding: 2% 4%;
  }
}
@media screen and (max-width: 800px) {
  .logo {
    width: 70%;
  }
  .signupContainer {
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .navbar {
    justify-content: space-between;
  }
  .logo {
    text-align: start;
    width: 100%;
  }
  .logoText {
    padding-left: 4%;
  }
  .navLinks {
    display: none;
  }
  .signupContainer {
    display: none;
  }
  .burgerContainer {
    display: block;
  }
  .mobileNavLinks {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    list-style: none;
  }
  .mobileNavItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    animation: slide-up 0.4s ease;
    background-color: white;
  }
  .mobileSignupContainer {
    padding-top: 5%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(229, 229, 229);
    animation: slide-up 0.4s ease;
    background-color: white;
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    padding: 3% 7%;
  }
}
