.hackathonPageContainer {
  width: 100%;
  height: 100%;
}

.hackathonDisplayContainer {
  position: relative;
}

.hackathonPage {
  width: 100%;
  height: 100%;
  padding: 0% 1%;
  display: grid;
  grid-template-columns: 4fr 12fr;
  grid-gap: 10%;
  padding: 1% 15%;
}
.filterNavbarContainer {
  width: 100%;
  height: fit-content;
  display: none;
}

.filterMobileContainer {
  display: none;
  position: relative;
}

.filtersContainer {
  width: 100%;
  height: 100%;
}

.hackathonContainer {
  width: 100%;
  height: 100%;
}

.filterMobile {
  display: none;
}

.loadMoreButton {
  width: 100%;
  padding: 1.5%;
  background-color: #2b96e2;
  color: white;
  font-size: 18px;
  border: none;
}

.loadMoreButton:hover {
  background-color: #228bd6;
  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  .hackathonPage {
    grid-template-columns: 4fr 12fr;
    padding: 1% 10%;
  }
}
@media screen and (max-width: 1400px) {
  .hackathonPage {
    grid-template-columns: 5fr 12fr;
    grid-gap: 5%;
  }
}
@media screen and (max-width: 1300px) {
  .hackathonPage {
    grid-template-columns: 5fr 12fr;
    grid-gap: 2%;
    padding: 1% 5%;
  }
}
@media screen and (max-width: 1000px) {
  .hackathonPage {
    grid-template-columns: 5fr 12fr;
    grid-gap: 2%;
    padding: 1% 2%;
  }
}

@media screen and (max-width: 800px) {
  .filterNavbarContainer {
    display: block;
  }
  .filterDesktop {
    display: none;
  }

  .filterMobile {
    width: 100%;
    padding-bottom: 2%;
    border-bottom: 1px solid black;
    height: fit-content;
  }

  .displayFilter {
    display: block;
  }
  .hideFilter {
    display: none;
  }

  .hackathonPage {
    grid-template-columns: 1fr;
    padding: 2% 5%;
  }
}
