.profileContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 25px;
  padding: 4% 10%;
}

.profileContainer:last-of-type {
  border-right: none;
}

.name {
  font-weight: bold;
  font-size: 20px;
  margin: 10px auto;
}

.profileImage {
  border-radius: 100%;
  object-fit: contain;
  object-position: center;
  width: 175px;
  height: 175px;
}

.reachOut {
  padding: 12.5px 25px;
  background-color: #228bd6;
  border: none;
  border-radius: 50px;
  margin-top: auto;
  color: white;
}

.reachOut:hover {
  cursor: pointer;
  background-color: #1f7fc4;
}

.github {
  text-decoration: none;
  color: black;
}
.github:hover {
  text-decoration: underline;
}

.basicInfo {
  margin-bottom: 20px;
}
